<div class="example-button-row">
    <button mat-icon-button color="primary" (click)="doOperation($event, opType.UPDATE)" matTooltip="Update task info"
        [matTooltipPosition]="'above'" matTooltipClass="tooltip">
        <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="doOperation($event, opType.DELETE)" matTooltip="Delete the task"
        [matTooltipPosition]="'above'" matTooltipClass="tooltip">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="doOperation($event, opType.DONE)" matTooltip="Done the task"
        [matTooltipPosition]="'above'" matTooltipClass="tooltip" [disabled]="task.status === taskStatus.DONE">
        <mat-icon>done</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="doOperation($event, opType.BLOCK)" matTooltip="Block the task"
        [matTooltipPosition]="'above'" matTooltipClass="tooltip" [disabled]="task.status === taskStatus.BLOCKED">
        <mat-icon>block</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="doOperation($event, opType.PROGRESS)" matTooltip="Move to progress"
        [matTooltipPosition]="'above'" matTooltipClass="tooltip" [disabled]="task.status === taskStatus.IN_PROGRESS">
        <mat-icon>trending_up</mat-icon>
    </button>

</div>