.filter-container {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.mat-button-toggle {
    min-width: 100px;
}

.btn-toggle {
    background-color: yellowgreen;
    color:darkblue;
}